# Intellij project files
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/*.vscode

# Maven
**/target/
*.jar

# Eclipse Or MyEclipse
**/.settings/
**/.project
**/.classpath
*.prefs
*.component
*.jsdtscope
*.container
*.springBeans
*.factorypath

*.tar.gz





